<html>
    <head>
        <title>My books</title>
    </head>
    <body>
        <div>
            <h1><a href="">My books</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Economy history study notebook</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">D3.js study notebook</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">English Book Report: Little prince</a></h2>
            <p>
                <ul>
                    <li>읽은날:</li>
                    <li>지은이:</li>
                    <li>내용과 느낌:</li>
                </ul>
            </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">TED Video Review</a></h2>
            <p>
                score:★★★☆☆
            </p>
        </div>
    </body>
</html>