<html>
    <head>
        <title>D3.js study book</title>
    </head>
    <body>
        <div>
            <h1><a href="">D3.js study book</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">WEEK1</a></h2>
            <p>
                <ol>
                    <li>objective1:</li>
                    <li>objective2:</li>
                    <li>objective3:</li>
                </ol>
            </p>    
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">WEEK2</a></h2>
            <p>
                <ol>
                    <li>objective1:</li>
                    <li>objective2:</li>
                    <li>objective3:</li>
                </ol>
            </p>   
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">WEEK3</a></h2>
            <p>
                <ol>
                    <li>score:★★★☆☆</li>
                    <li>summary:</li>
                    <li>favorite part:</li>
                </ol>
            </p>   
        </div>
    </body>
</html>